<div id="confirm_delete_modal" class="modal" data-controller="modal">
  <div class="modal-content">
    <h3>คุณต้องการลบ?</h3>
    <div class="button-group">
      <%= button_to 'ยกเลิก', '#', data: {action: 'modal#close'}, class: 'cancel-button' %>
      <%= button_to 'ยืนยัน', form_path(kiw), method: :delete, data: {action: 'modal#close'}, class: 'delete-button' %>
    </div>
  </div>
</div>
