<div id="deleteModal" class="modal" data-controller="modal">
    <div class="modal-content">
        <h4>ยืนยันการลบ</h4>
        <p>คุณต้องการจะลบผู้ใช้นี้จริงหรือไม่?</p>
        <div class="modal-footer">
            <%= button_to 'ยืนยัน', '#', data: { action: 'click->modal#confirm' }, class: 'btn' %>
            <button data-action="click->modal#cancel" class="btn">ยกเลิก</button>
        </div>
    </div>
</div>
