<%= turbo_frame_tag 'modal' do %>
  <div id="deleteModal" class="modal">
    <div class="modal-content">
      <h2>ยืนยันการลบข้อมูล</h2>
      <p>คุณแน่ใจหรือไม่ที่จะลบข้อมูลของ </p>
      <div class="modal-actions">
        <%= button_to 'ยืนยัน', form_path(@form), method: :delete, class: 'confirm-btn' %>
        <%= link_to 'ยกเลิก', root_path, data: { turbo_frame: '_top' } %>
      </div>
    </div>
  </div>
<% end %>
